<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="col-md-12">
        <table class="table table-striped custab" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <!-- Remove when auth will work -->
                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td><button class="btn btn-danger" (click)="deleteUser(user)">
                            X</button></td>
                </tr>
                <!-- Remove when auth will work -->
                <tr *ngFor="let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td class="text-center"><button class="btn btn-danger" (click)="deleteUser(user)">
                            Delete</button></td>
                </tr>
            </tbody>
        </table>
        <button mat-raised-button routerLink="/register" style="color: white; background-color: #1B5E20">Add New
            User</button>
</div>