<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<h2>To do:<br><br>Top Rated Movies</h2><br>

<div class="col-md-12">
    <div class="card card-container">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Director</th>
                    <th scope="col">Rate</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Movie1</td>
                    <td>Movie2</td>
                    <td>10.0</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Movie1</td>
                    <td>Movie2</td>
                    <td>10.0</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Movie1</td>
                    <td>Movie2</td>
                    <td>10.0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>