<mat-toolbar class="navbar navbar-expand-lg navbar-light bg-light">
  <div>{{title}} &nbsp; </div>
  
  <div>
    <button mat-raised-button routerLink="/dashboard" style="color: white; background-color: #404040" >Top Rated Movies</button>
    <button mat-raised-button routerLink="/movies" style="color: white; background-color: #404040">Movies</button>
    <button mat-raised-button routerLink="/users" style="color: white; background-color: #404040">Users List</button>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <button mat-raised-button routerLink="/signin" style="color: white; background-color: #404040">Sign in</button>
    <button mat-raised-button routerLink="/register" style="color: white; background-color: #404040">Sign up</button>
  </div>
</mat-toolbar>


<body>
  <router-outlet></router-outlet>
</body>