
button{
    margin-right: 0.15cm;
    margin-left: 0.10cm;
    /* color: #37474F */
}


body {
    margin-top:0.5cm;
    margin-left:1cm;
    margin-right: 1cm;
    padding:0cm;
    
}

 .navbar {
    justify-content: space-between;
    color: white;
    background: #263238
 }


