<mat-toolbar color="primary" class="navbar">
  <div>{{title | uppercase}} &nbsp; </div>
  <div>
    <button mat-raised-button routerLink="/dashboard" color="primary">Top Rated Movies</button>
    <button mat-raised-button routerLink="/movies" color="primary">Movies</button>
    <button mat-raised-button routerLink="/register" color="primary">Registration</button>
    <button mat-raised-button routerLink="/users" color="primary">Users List</button>
  </div>
</mat-toolbar>


<body>
  <router-outlet></router-outlet>
</body>