<mat-toolbar color="primary" class="navbar">
  <div>{{title | uppercase}} &nbsp; </div>
  <div>
    <button mat-raised-button routerLink="/dashboard" color="grey">Top Rated Movies</button>
    <button mat-raised-button routerLink="/movies" color="grey">Movies</button>
    <button mat-raised-button routerLink="/register" color="grey">Registration</button>
    <button mat-raised-button routerLink="/users" color="grey">Users List</button>
  </div>
</mat-toolbar>

<body>
  <router-outlet></router-outlet>
</body>