<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Movie Title</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of movies" [class.selected]="movie === selectedMovie"
        (click)="onSelect(movie)">
            <td>{{movie.title}}</td>
            <td class="text-center"><button class="btn btn-danger btn-xs" (click)="removeUser(user)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
          </tr>
    </tbody>
    </table>
    </div>
</div>

<button mat-raised-button routerLink="/movies/add" color="primary" >Add New Movie</button>

    <app-movie-detail [movie]="selectedMovie"></app-movie-detail>

    
 

  