body {
    padding-top:50px;
}

legend {
   color: #678;
}
.form-control {
    width: 95%;
}
label small {
    color: #678 !important;
}
span.req {
    color:maroon;
    font-size: 112%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: black !important;
  }
  


.mat-form-field .placeholder {
    color: #000000;
}

.mat-form-field {
  color: #000000;
}

  .mat-focused .placeholder {
    color: rgb(85, 2, 85);
}

fieldset {
  border: thin solid #ccc; 
  border-radius: 4px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background: #fbfbfb;
  text-align: center;
}

.profile-img-card {
  width: 120px;
  height: 120px;
  margin: 0 auto 5px;
  display: block;
  /* -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; */
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 400px !important;
    padding: 40px 40px;
    transition: 0.5s;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 2px #ccc;
}

.card-container:hover {
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}