<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <br>
                    <div class="form-group">
                        <label> First Name: </label>
                        <input required type="text" [(ngModel)]="user.firstName" name="firstName"
                            class="form-control phone" placeholder="Enter your first name..." />
                    </div>

                    <div class="form-group">
                        <label> Last Name: </label>
                        <input required type="text" [(ngModel)]="user.lastName" name="lastName"
                            class="form-control phone" placeholder="Enter your last name..." />
                    </div>

                    <div class="form-group">
                        <label> E-mail: </label>
                        <input required type="text" [(ngModel)]="user.email" name="email" class="form-control phone"
                            placeholder="Enter your email..." />
                    </div>

                    <div class="form-group">
                        <label> Username: </label>
                        <input required type="text" [(ngModel)]="user.username" name="username"
                            class="form-control phone" placeholder="Enter your username..." />
                    </div>

                    <div class="form-group">
                        <label> Password: </label>
                        <input required type="text" [(ngModel)]="user.password" name="password"
                            class="form-control phone" placeholder="Enter your password..." />
                    </div>

                    <div>
                        <button mat-raised-button routerLink="/users" (click)="registerNow()"
                            color="primary">Register</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>